.lib-inner-section {
	padding-top: 48px;
	padding-bottom: 124px;
	.lib-inner-container {
		position: relative;
	}
	.data-divider {
		height: 1px;
		background-color: #e6e6e6;
	}
	.customerSwiper {
		padding-top: 24px;
		padding-bottom: 30px;
	}
	.justwatchSwiper {
		padding-top: 24px;
		padding-bottom: 30px;
	}
	.lib-inner-advance-filter {
		-webkit-box-flex: 0;
		margin-top: 46px;
		max-width: 300px;
		width: 0;
		box-sizing: content-box;
		transition: 0.2s ease-in-out;
		opacity: 0.6;
		transform: translateX(-10px);
		.side-filter-wr {
			width: 300px;
			visibility: hidden;
			max-width: 300px;
		}
		&.show-advance-filter {
			display: block;
			padding-right: 16px !important;
			width: 100%;
			opacity: 1;
			transform: translateX(0px);
			.side-filter-wr {
				visibility: visible;
				opacity: 1;
			}
		}
	}
	.btn-advance-toggle-filter {
		background-color: transparent;
		position: absolute;
		padding: 0;
		top: 24px;
		left: 16px;
		gap: 16px;
		.setting-icon {
			display: none;
		}
		.close-icon {
			display: block;
		}
		&.collapsed {
			.setting-icon {
				display: block;
			}
			.close-icon {
				display: none;
			}
		}
	}
	.dv-e {
		border-bottom: 1px solid #e6e6e6;
	}
	.list-tag {
		.each-tag {
			background: #ffffff;
			border-radius: 16px;
			padding: 6px 12px;
			gap: 16px;
			line-height: 19px;
			width: fit-content;
			transition: 0.2s ease-in-out;
			&:hover {
				box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 4px;
			}
		}
	}
	.list-cate {
		.expand-icon {
			transition: 0.2s ease;
		}
		.each-cate {
			padding: 25px 0;
			.cate-header {
				gap: 12px;
				.cate-name {
					font-weight: 500;
					font-size: 18px;
				}
			}
			.cate-header[aria-expanded='false'] {
				.expand-icon {
					transform: rotateZ(180deg);
				}
			}
			.cate-items {
				list-style-type: none;

				.cate-item {
					gap: 12px;
					&:not(:nth-last-of-type(1)) {
						margin-bottom: 18px;
					}
					.item-label {
						font-weight: 400;
						font-size: 16px;
						line-height: 19px;
					}
				}
			}
		}
	}
	.list-data {
		width: calc(100% - 300px);
		.select-fk {
			.selected-data {
				border: 1px solid #e6e6e6;
				border-radius: 10px;
				background: #ffffff;
				padding: 14px 16px;
				font-weight: 400;
				font-size: 16px;
				line-height: 19px;
				width: 160px;
			}
			.select-items {
				border: 1px solid #e6e6e6;
				border-radius: 10px;
				.dropdown-item {
					font-size: 16px;
					line-height: 19px;
					color: #a5a5a5;
					&:active {
						background-color: transparent;
					}
				}
				.dropdown-item.on-active {
					font-weight: 500;
					color: #333333;
				}
			}
		}
		.normal-filter {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 16px;
			width: 80%;
			margin: auto;
			max-width: 796px;
		}
		.search-block {
			border: 1px solid #e6e6e6;
			border-radius: 10px;
			height: 48px;
			overflow: hidden;
			.search-icon {
				margin-left: 16px;
			}
			input {
				border: none;
				width: 100%;
				padding: 0 12px;
				&:focus {
					border: none;
					outline: none;
				}
				&::placeholder {
					color: #cbcbcb;
				}
			}
			.append-block {
				background: #888888;
				white-space: nowrap;
				height: 100%;
				display: flex;
				align-items: center;
				color: #fff;
				padding: 0 10px;
				font-weight: 400;
			}
		}
		.data-block {
			padding: 0;
			position: relative;
			background: #ffffff;
			border-radius: 8px;
			&-title {
				font-weight: 700;
				font-size: 24px;
				line-height: 28px;
			}

			.custom-navigator-btn {
				position: absolute;
				top: 50%;
				width: 32px;
				height: 32px;
				box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
				border-radius: 100%;
				background-color: #fff;

				z-index: 99;
				display: flex;
				align-items: center;
				justify-content: center;
				&.swiper-button-disabled {
					background-color: #828282bd;
					img {
						filter: brightness(0) invert(1) opacity(0.7);
					}
				}
				&.btn-nav-prev {
					left: 6px;
					transform: translateY(-50%);
				}
				&.btn-nav-next {
					right: 6px;
					transform: translateY(-50%);
					img {
						transform: rotateZ(180deg);
					}
				}
			}
		}
	}
	.list-cards {
		.card-prod {
			margin-bottom: 24px;
		}
	}
	.card-prod {
		.btn-unfollow {
			display: none;
		}
		&.prod-followed {
			.btn-follow {
				display: none;
			}
			.btn-unfollow {
				display: block;
			}
		}
		.card {
			border-radius: 8px;
			overflow: hidden;
			box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
			border-color: #eaeaea;
			position: relative;
			&.card-small {
				border-color: transparent;
			}
			.follow-icon {
				position: absolute;
				top: 12px;
				right: 12px;
				z-index: 3;
			}
			&:not(.card-small):before {
				content: '';
				width: 100%;
				height: 55px;
				top: 0;
				left: 0;
				position: absolute;
				background: linear-gradient(180deg, rgba(0, 0, 0, 0.48) 0%, rgba(0, 0, 0, 0) 100%);
				border-radius: 8px 8px 0px 0px;
				z-index: 2;
			}
		}
		.card-body {
			padding: 13px !important;
			.prod-title {
				font-weight: 700;
				font-size: 16px;
				line-height: 140%;
				margin-bottom: 12px;
				display: flex;
				gap: 8px;
				align-items: flex-start;
			}
			.prod-users {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				gap: 8px;
				margin-bottom: 10px;
				.user {
					display: flex;
					align-items: center;
					gap: 6px;
					font-weight: 400;
					font-size: 15px;
					line-height: 18px;
					color: #777777;
				}
			}
			.prod-video-live-stream-counter,
			.prod-video-counter {
				margin-bottom: 10px;
				display: flex;
				align-items: center;
				gap: 6px;
			}
			.prod-video-live-stream-counter {
				margin-bottom: 0;
			}
			.small-tag {
				background: #ffffff;
				border: 1px solid #f1f1f1;
				border-radius: 19.5px;
				font-weight: 400;
				font-size: 14px;
				line-height: 16px;
				color: #888888;
				padding: 2px 6px;
				width: fit-content;
				margin-top: 10px;
			}
		}
		.c-divider {
			.card-body {
				.prod-title {
					margin-bottom: 10px;
				}
			}
		}
		.c-creator-tag {
			.card-body {
				.creator-tag {
					margin-top: 10px;
					font-weight: 400;
					font-size: 14px;
					line-height: 16px;
					color: #6b6d70;
					.creator-name {
						color: #4086ff;
					}
				}
			}
		}
		.c-mcq {
			.card-body {
				.small-tag,
				.creator-tag {
					margin: 0;
				}
				.mcq-time-tag,
				.mcq-count-source {
					margin-top: 10px;
					justify-content: space-between;
					.mcq-time,
					.mcq-count {
						// width: 80px;
						font-weight: 400;
						font-size: 14px;
						line-height: 16px;
						color: #888888;
					}
				}
			}
		}
	}
}

// &.collapsed {
// 	.expand-icon {
// 		transform: rotateZ(180deg);
// 	}
// }
